/*colors*/
:root{
    --background-color--primary: #f6f5f6;
    --background-color--secondary: white;
    --accent-color--primary: #ffb4e5;
    --accent-color--secondary: #dedbde;
    --text-color--title: #0b0b15;   
    --text-color--text: #4e4e4e;
}

/*font*/
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url(assets/Roboto-VariableFont_wdth\,wght.ttf);
}

/*site*/
.background-color--primary{
    background-color: var(--background-color--secondary);
}

.background-color--secondary{
    background-color: var(--background-color--primary);
} 

.accent-color--primary{
    background-color: var(--accent-color--primary);
}

.section-width{
    max-width: 1140px;
    margin: auto;
}

body, textarea{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.big-img, .medium-img{
    border-radius: 1em;
    margin-left: 3em;
}

/*font*/
p, a, address, span, li{
    color: var(--text-color--text);
}

h1{
    font-size: 4em;
    margin: 0;
    font-weight: 900;
}

h2, h3{
    color: var(--text-color--title);
    font-weight: 900;
}

.padded-text-vertical{
    padding: 1em 0;
}

.padded-text-horizontal{
    padding: 0 2em;
}

.padded-text-right{
    padding-right: 0.5em;
}

.big-text{
    font-size: 2em;
}

.small-text{
    font-size: 0.9em;
}

.thick-text{
    font-weight: 900;
}

.text-center{
    text-align: center;
    margin: 0;
}

/*lists*/
ul{
    margin: 0;
}

li{
    list-style: none;
    padding-left: 2em;
}

.list-title{
    position: relative;
    font-weight: 400;
    font-size: medium;
    padding-left: 2em;
    margin: 0;
    color: var(--text-color--text);
}

/*circles*/
.avatar-circle{
    background-color: var(--accent-color--primary);
    border-radius: 50%;
}

.big-circle{
    position:relative;
    z-index: 1;
}

.big-circle::before{
    content: "";
    background-color: var(--accent-color--primary);
    width: 80em;
    height: 80em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: -20em;
    left: 1em;
    border-radius: 50%; 
}

.overflow-stopper{
    position: relative;
    overflow: hidden;
}

.card-circle{
    padding: 1em;
    z-index: 1;
}

.card-circle::before{
    content: "";
    background-color: var(--accent-color--primary);
    width: 11em;
    height: 11em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: -2em;
    border-radius: 50%; 
}

/*titles*/
.title{
    position: relative;
    z-index: 1;
    padding: 1em 1em 0 1em;
    margin: 0;
    font-weight: 900;
}

.title::before{
    content: "";
    background-color: var(--accent-color--primary);
    width: 2em;
    height: 2em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: 0.1em;
    left: 0.5em;
    border-radius: 50%;
}


/*icons*/
.icon:hover{
    background-color: var(--accent-color--secondary);
    transition: background-color 0.2s;
    border-radius: 50%;
}

.icon:active{
    background-color: var(--accent-color--primary);
    transition: background-color 0.2s;
    border-radius: 50%;
}

/*navbar*/
.link:hover{
    color: black;
}

.link:active{
    color: var(--text-color--text);
}

/*upper part*/  
.half {
    width: 50%;
}

.box-width-auto{
    width: auto;
    display: block;
}

.upper--part__picture{
    width: 25em;
    border-radius: 1em;
    position: absolute;
    top: 0.5em;
}

.flex-reverse{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
}

/*about me*/
.about-me{
    z-index: 1;
}

.about-me-picture{
    width: 10em;
    justify-self: center;
}

.vertical-align{
    align-items: center;
    flex-direction: column;
}

/*my portfolio*/
.grid{
    display: grid;
    margin: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(319px, 1fr));
}

.grid-card{
    padding: 1em;
    border-radius: 1em;
    position: relative;
}

.grid-card__title{
    margin-top: 0.5em;
}

.grid-card:hover{
    background-color: var(--accent-color--secondary);
}

.grid-card:active{
    background-color: var(--accent-color--primary);
}

.grid-card--img{
    width: 100%;
    border-radius: 1em;
    height:auto;
}

.grid-card--link{
    content-visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*education*/
.dividing-line{
    border-right: 1px solid var(--accent-color--primary);
}

.divider-width{
    width: 10em;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-width-normal{
    width: 5em;
}

/*hobbies*/
.flex{
    display: flex;
    gap: 1em;
    padding: 1em;
}

.flex-card{
    border-radius: 1em;
    padding: 1em;
    flex: 1;
}
.hobbies-picture{
    height: 5em;
}

/*contact*/
.flex--no-padding{
    display: flex;
}

.small-img{
    height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 2em;
}

address{
    font-style: normal;
}

/*footer*/
.justify-left{
    flex: none;
    justify-items: left;
    padding: 1em;
}

/*breakpoints: 1200, 960, 560, 360*/
/*extra big*/
@media (min-width: 1200px){ 
    .card-circle::before{
        top: -3.5em;
        right: 11em;
    }

    .box-width-auto{
        display: contents;
    }
}

/*big*/
@media (max-width: 1199px){
    .card-circle::before{
        top: -3.5em;
        right: 9.5em;
    }

    .box-width-auto{
        display: contents;
    }
}

/*medium*/
@media(max-width: 959px){
    .flex{
        flex-direction: column; 
    }

    .flex-horizontal{
        justify-content: center;
    }

    .box-width-auto{
        display: contents;
    }

    .display-none{
        display: none;
    }

    .about-me{
        flex-direction: column;
    }

    .card-circle::before{
        top: -3.5em;
        left: -3em;
    }

    .display-contents{
        display: contents;
    }

    .education-card{
        flex-direction: row;
    }

    .footer{
        flex-direction: row;
    }

    .big-img{
        width: 60%;
        height: 60%;
    }
}

/*small*/
@media (max-width: 559px){
    h1{
        font-size: 3.5em;
        margin: 0;
    }

    .box-width-auto{
        display: grid;
    }

    .education-card{
        flex-direction: column;
    }
    
    .dividing-line{
        display: contents;
    }

    .push{
        display: contents;
    }

    .footer{
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .medium-img{
        width: 40%;
        height: 40%;
    }
}